
<section class="page-landing">
  <div class="info">
    <div class="Logo">
      Moonquakes
    </div>
    <div class="title">
      Explore
      <div  ref="shake" :class="{shaking:isShake}">
        <span class="fall" :class="[isShake ? 'falling' + Math.floor(Math.random()*4+1): '']" :style="`animation-delay: ${Math.random()}s`">M</span>
        <span class="fall" :class="[isShake ? 'falling' + Math.floor(Math.random()*4+1): '']" :style="`animation-delay: ${Math.random()}s`">o</span>
        <span class="fall" :class="[isShake ? 'falling' + Math.floor(Math.random()*4+1): '']" :style="`animation-delay: ${Math.random()}s`">o</span>
        <span class="fall" :class="[isShake ? 'falling' + Math.floor(Math.random()*4+1): '']" :style="`animation-delay: ${Math.random()}s`">n</span>
        <span class="fall" :class="[isShake ? 'falling' + Math.floor(Math.random()*4+1): '']" :style="`animation-delay: ${Math.random()}s`">q</span>
        <span class="fall" :class="[isShake ? 'falling' + Math.floor(Math.random()*4+1): '']" :style="`animation-delay: ${Math.random()}s`">u</span>
        <span class="fall" :class="[isShake ? 'falling' + Math.floor(Math.random()*4+1): '']" :style="`animation-delay: ${Math.random()}s`">a</span>
        <span class="fall" :class="[isShake ? 'falling' + Math.floor(Math.random()*4+1): '']" :style="`animation-delay: ${Math.random()}s`">c</span>
        <span class="fall" :class="[isShake ? 'falling' + Math.floor(Math.random()*4+1): '']" :style="`animation-delay: ${Math.random()}s`">k</span>
        <span class="fall" :class="[isShake ? 'falling' + Math.floor(Math.random()*4+1): '']" :style="`animation-delay: ${Math.random()}s`">e</span>
        <span class="fall" :class="[isShake ? 'falling' + Math.floor(Math.random()*4+1): '']" :style="`animation-delay: ${Math.random()}s`">s</span>
      </div>
      <button class="start" @click="onClickStart()">Start</button>
    </div>
  </div>
  <canvas id="moon"></canvas>
</section>

