.ui-timeline {
    position: absolute;
    bottom: 0;
    /* background: rgba(255,255,255,0.3); */
    padding: 10px;
    box-sizing: border-box;
    right: 0;
    width: 100%;
    display: inline-block;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0) 100%);
    max-width: 90%;
    margin: 0 auto;
    left: 0;
    height: 136px;
}
.btn-back{
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

.breadcrumb{
    color: #fff;
}

.ui-timeline .top-block{
    height: 100%;
}

.ui-timeline .select-switch-block{
    display: flex;
    max-width: 240px;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
    justify-content: center;
    border: 1px solid #fff;
    margin: 0 auto;
    margin-bottom: 44p;
}

.ui-timeline .select-switch-block  .switch-block{
    text-align: center;
}

.ui-timeline .select-switch-block > li{
    color: #fff;
    width: 33%;
    text-align: center;
    cursor: pointer;
    
}
.ui-timeline .select-switch-block > li.active{
    background-color: rgba(255,255,255,0.4);
    transition: .8s;
}

.ui-timeline .select-switch-block > li + li {
    border-left: 1px solid #fff;
}





/** count */
.ui-timeline .count-num-block{
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    height: 100%;
}
.ui-timeline .num-count-block{
    padding: 0;
    list-style-type: none;
    display: flex;
    margin: 0;
    width: 100%;
    height: 85%; /* chart 高度*/
    align-items: flex-end;
}
.ui-timeline .num-count-block > li{
    display: inline-flex;
    width: calc( 100% / 9 );
    position: relative;
    justify-content: center;
    padding: 0;
    margin: 0;
    align-items: flex-end;
    height: 100%;
}
.view-content-block{
    height: 100%;
}

.ui-timeline .count-total-view-block{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 20px;
    height: 100%;
}

.ui-timeline .count-total-view-block.style--year{
    
}
.ui-timeline .count-total-view-block  .count-block{
    display: inline-block;
    background-color: rgba(255,255,255,0.3);
    box-sizing: border-box;
    padding: 5px 2px;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    width: 45%;
    text-align: center;
    position: relative;
}


.ui-timeline .count-total-view-block .display-block{
    position: absolute;
    bottom: -27px;
    color: #fff;
}

.ui-timeline .count-total-view-block .count-line-block{
    width: 100%;
    display: inline-block;
    height: 2px;
    background-color: rgba(255,255,255,0.3);
}

.day-view-block .list-block{
    position: relative;
    list-style-type: none;
    padding: 0;
}

.day-view-block .list-block .list-event{
    /* position: ; */
    background-color: rgba(255,255,255,0.5);
    padding: 3px;
    box-sizing: border-box;
    position: absolute;
    top: 5px;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    width: 20px;
    border-radius: 5px;
}
.day-view-block .num-count-block{
    display: flex;
    width: 100%;
}

.ui-timeline .day-view-block .num-count-block > li{
    left: 0;
    height: auto;
    text-align: left;
    display: inline-block;
    color: #fff;
    justify-content: initial;

}