.ui-time-slider {
    position: absolute;
    z-index: 10;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0) 100%);
    color: #fff;
    width: 100vw;
    box-sizing: border-box;
    padding: 20px;
    max-width: 90%;
    margin: 0 auto;
    left: 0;
    right: 0;
    max-height: 136px;
}
.ui-time-slider .label-block{
    display: flex;
    justify-content: space-between;
    height: 20px;
    overflow: hidden;
}
:v-deep .slider-connect{
    background-color: #2F2F2F;
}



.ui-time-slider .start-block{
    display: inline-block;
    width: 93px;
    font-size: 14px;
}
.ui-time-slider .start-block .style--start{
    display: inline-block;
    text-align: left;
}
.info-block{
    align-items: center;
}
.info-text + .info-text{
    padding-left: 20px;
    box-sizing: border-box;
}

.ui-time-slider .start-block .style--end{
    display: inline-block;
    text-align: right;
}

.ui-time-slider .info-block{
    display: flex;
}