.ui-time-slider {
    position: absolute;
    text-align: center;
    z-index: 10;
    bottom: 0;
    color: #fff;
    width: 100vw;
    box-sizing: border-box;
    padding: 20px;
    max-width: 90%;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 136px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid #FFFFFF;
}
.ui-time-slider .label-block{
    display: flex;
    justify-content: space-between;
    height: 20px;
    overflow: visible;
    padding-left: 0;
    list-style-type: none;
    margin-top: 20px;
}
.ui-time-slider .label-block > li{
    position: relative;
    left: -8px;
}
:v-deep .slider-connect{
    background-color: #2F2F2F;
}

.sliders-block{
    max-width: 80%;
    width: 100%;
    display: inline-block;
    margin: 0 auto;

}




.ui-time-slider .start-block{
    display: inline-block;
    width: 93px;
    font-size: 14px;
}
.ui-time-slider .start-block .style--start{
    display: inline-block;
    text-align: left;
}
.info-block{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.info-block .info-text{
    margin-bottom: 0;
}
.info-text{
    padding: 0;
}
.info-text + .info-text{
    padding-left: 20px;
    box-sizing: border-box;
}

.ui-time-slider .start-block .style--end{
    display: inline-block;
    text-align: right;
}

.ui-time-slider .info-block{
    display: flex;
}
/* 
.ui-time-slider .label-block > li:before{
    content: ' ';
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-color: #fff;
    top: -20px;
} */
