
<section class="page-main">
  <div id="container"></div>
  <div class="mode0" v-if="state.mode == 0">
    <button class="test" @click="setTime('1970-04-15 02:09:41','1971-02-04 07:40:55')">test</button>
    <button class="test2" @click="setTime('1969-01-01 00:00:00','1970-01-01 00:00:00')">test2</button>
  </div>
  <select class="type" @change="onChange($event)">
    <option value="0">有震央</option>
    <option value="1">無震央</option>
  </select>
  <div id="markerLabel" class="hidden" ref="markerLabel">
    <button id="closeButton" ref="clostBtn">X</button>
    <div class="text" id="idNum" ref="idNumRef">{{info.id}}</div>
    <div class="text" id="type" ref="typeRef">{{info.type}}</div>
    <div class="text" id="date" ref="dateRef">{{info.date}}</div>
    <div class="text" id="magnitude" ref="magnitudeRef">{{info.mag}}</div>
    <div class="text" id="depth" ref="depthRef">{{info.depth}}</div>
    <div class="text" id="coordinates" ref="coordinatesRef">{{info.coord}}</div>
  </div>
  <div class="timeblock">
    <!-- timeline -->
    <!-- <ui-timeline></ui-timeline> -->
  </div>
  
</section>

